/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#rootPane{
    -fx-background-image: url("Background.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
}